<h4 class="text-center blinking" style="color: rgb(255, 0, 0);">Product Launch Offer!!&nbsp;</h4>
<div style="background-color: rgb(3, 72, 168);">

  <marquee width="100%" direction="left" height="20px" style="color: #fff;">
    *Your advertisement will be displayed all over
    the world by the people installed HaiPals Messenger App in their Mobile.&nbsp;&nbsp;*The Advertisement time will be
    from 00:00:01 Hrs to 23:59:59 Hrs Only.
  </marquee>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-1 text-center"></div>
    <div class="col-md-5 text-center">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2500">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/design.jpg" width="300px" height="490px" alt="First slide">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <br>
      <br>
      <h4 class="text-center" style="font-size: 26px; color: rgb(0, 0, 0);">New Awesome App launching Soon...</h4>
      <br>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
              <p style="line-height: 0pt;">&nbsp;&nbsp;<b style="font-size: 25px;"><span class="days"></span></b>&nbsp;&nbsp;&nbsp;&nbsp;
              <b style="font-size: 25px;"><span class="hours"></span></b>&nbsp;&nbsp;
              <b style="font-size: 25px;"><span class="minutes"></span></b>&nbsp;
              <b style="font-size: 25px;"><span class="seconds"></span></b>&nbsp;</p>
              <p style="line-height: 0.5pt;">
                <b>Days</b>&nbsp;&nbsp;<b>Hours</b>&nbsp;&nbsp;<b>Min</b>&nbsp;&nbsp;<b>Sec</b>
              </p>
        </div>
      </div>
      <br>
      <div class="row text-center" style="font-size:30px; color: rgb(3, 78, 162);  ">
        <div class="col-md-12">
          <p style="line-height: 0.5pt"><i>Bonding with</i></p>
          <p><i>HAIPALS</i></p>
          <p style="line-height: 0.5pt"><i>To build our future</i></p>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-12">
          <p>
            <a href="#" class="btn btn-store">
              <span class="fa fa-apple fa-3x pull-left" style="font-size: 30px;"></span>
              <span class="btn-label" style="font-size: 10px;">Download on the</span>
              <span class="btn-caption" style="font-size: 18px;">App Store</span>
            </a>
            <a href="#" class="btn btn-store">
              <span class="fa fa-android fa-3x pull-left" style="font-size: 30px;"></span>
              <span class="btn-label" style="font-size: 10px;">Download on the</span>
              <span class="btn-caption" style="font-size: 18px;">Google Play</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-1 text-center"></div>
  </div>
</div>
<hr>
<p width="100%" height="10px" class="text-center">
  <b>Your advertisement Rates:</b>&nbsp; <b>INDIA-</b><i>INR ₹ 99</i>&nbsp;|&nbsp;<b>USA-</b><i>USD $
    19</i>&nbsp;|&nbsp;<b>UAE-</b><i>AED 49</i>&nbsp;|&nbsp;<b>UK-</b><i>GBP £ 09</i>&nbsp;|&nbsp;<b>HONG
    KONG-</b><i>HK $ 99</i>&nbsp;|&nbsp;<b>SINGAPORE-</b><i>SGD $ 19</i>
</p>